In [1]:
# Dependencies
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Filepath as variable

dataset1 = "Resources/Dataset1.csv"

In [3]:
dataset1_df = pd.read_csv(dataset1, encoding="ISO-8859-1", header=None)

In [4]:
dataset1_df.head()

,0,1,2,3,4,5
0,ï»¿Ewe/V1,<I>/mA1,Ewe/V5,<I>/mA5,Ewe/V20,<I>/mA20
1,-0.460235029,-0.247163118,-0.460139513,-0.793835974,-0.460196823,-1.211096627
2,-0.460235029,-0.247019434,-0.460196823,-0.795327568,-0.460254133,-1.206461512
3,-0.460311413,-0.247091182,-0.460406929,-0.794714073,-0.460292339,-1.202671183
4,-0.460426033,-0.246475378,-0.460464239,-0.792635469,-0.460502416,-1.213611106

In [5]:
dataset1_df.columns

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [6]:
fix_header = dataset1_df.iloc[0]
dataset1_df = dataset1_df[1:]
dataset1_df.columns = fix_header
dataset1_df.head()

,ï»¿Ewe/V1,<I>/mA1,Ewe/V5,<I>/mA5,Ewe/V20,<I>/mA20
1,-0.460235029,-0.247163118,-0.460139513,-0.793835974,-0.460196823,-1.211096627
2,-0.460235029,-0.247019434,-0.460196823,-0.795327568,-0.460254133,-1.206461512
3,-0.460311413,-0.247091182,-0.460406929,-0.794714073,-0.460292339,-1.202671183
4,-0.460426033,-0.246475378,-0.460464239,-0.792635469,-0.460502416,-1.213611106
5,-0.460655242,-0.246579479,-0.460464239,-0.792194037,-0.460502416,-1.200391409

In [7]:
dataset1_df.columns

Index(['ï»¿Ewe/V1', '<I>/mA1', 'Ewe/V5', '<I>/mA5', 'Ewe/V20', '<I>/mA20'], dtype='object', name=0)

In [8]:
renamed_df = dataset1_df.rename(columns={'ï»¿Ewe/V1':'Voltage 1', '<I>/mA1':'Current 1', 'Ewe/V5':'Voltage 5', '<I>/mA5':'Current 5', 'Ewe/V20':'Voltage 20', '<I>/mA20':'Current 20'})
renamed_df.head()

,Voltage 1,Current 1,Voltage 5,Current 5,Voltage 20,Current 20
1,-0.460235029,-0.247163118,-0.460139513,-0.793835974,-0.460196823,-1.211096627
2,-0.460235029,-0.247019434,-0.460196823,-0.795327568,-0.460254133,-1.206461512
3,-0.460311413,-0.247091182,-0.460406929,-0.794714073,-0.460292339,-1.202671183
4,-0.460426033,-0.246475378,-0.460464239,-0.792635469,-0.460502416,-1.213611106
5,-0.460655242,-0.246579479,-0.460464239,-0.792194037,-0.460502416,-1.200391409

In [9]:
renamed_df.count()

0
Voltage 1     10000
Current 1     10000
Voltage 5      9995
Current 5      9995
Voltage 20     9988
Current 20     9988
dtype: int64

In [10]:
renamed_df = renamed_df.dropna(how='any')
renamed_df.count()

0
Voltage 1     9988
Current 1     9988
Voltage 5     9988
Current 5     9988
Voltage 20    9988
Current 20    9988
dtype: int64

In [11]:
max_valueV1 = renamed_df["Voltage 1"]
max_valueV1 = max_valueV1.max()
print("Max voltage at rate 1:", max_valueV1)

max_valueV5 = renamed_df["Voltage 5"]
max_valueV5 = max_valueV5.max()
print("Max voltage at rate 5:", max_valueV5)

max_valueV20 = renamed_df["Voltage 20"]
max_valueV20 = max_valueV20.max()
print("Max voltage at rate 20:", max_valueV20)

min_valueV1 = renamed_df["Voltage 1"]
min_valueV1 = min_valueV1.min()
print("Min voltage at rate 1:", min_valueV1)

min_valueV5 = renamed_df["Voltage 5"]
min_valueV5 = min_valueV5.min()
print("Min voltage at rate 5:", min_valueV5)

min_valueV20 = renamed_df["Voltage 20"]
min_valueV20 = min_valueV20.min()
print("Min voltage at rate 20:", min_valueV20)

Max voltage at rate 1: -0.600450575
Max voltage at rate 5: -0.600565195
Max voltage at rate 20: -0.600355089
Min voltage at rate 1: -0.100499332
Min voltage at rate 5: -0.100556634
Min voltage at rate 20: -0.100442037

In [12]:
max_valueC1 = renamed_df["Current 1"]
max_valueC1 = max_valueC1.max()
print("Max current at rate 1:", max_valueC1)

max_valueC5 = renamed_df["Current 5"]
max_valueC5 = max_valueC5.max()
print("Max current at rate 5:", max_valueC5)

max_valueC20 = renamed_df["Current 20"]
max_valueC20 = max_valueC20.max()
print("Max current at rate 20:", max_valueC20)

min_valueC1 = renamed_df["Current 1"]
min_valueC1 = min_valueC1.min()
print("Min current at rate 1:", min_valueC1)

min_valueC5 = renamed_df["Current 5"]
min_valueC5 = min_valueC5.min()
print("Min current at rate 5:", min_valueC5)

min_valueC20 = renamed_df["Current 20"]
min_valueC20 = min_valueC20.min()
print("Min current at rate 20:", min_valueC20)

Max current at rate 1: 7.41379E-05
Max current at rate 5: 0.844751574
Max current at rate 20: 1.362341094
Min current at rate 1: -0.000367588
Min current at rate 5: -0.000119839
Min current at rate 20: -0.000374758